<div class="keithmazanec">
<div class="backdrop">
  <link rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css'>
  <link rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700">
  <div class="center-horizontal-simple">
    <div class="pure-g-r">
      <div class="pure-u-1-3">
      </div>
      <div class="pure-u-1-3">
        <div id="draggable" class="center panel">
          <h1 class="shadow-text">Hi, I'm Keith</h1>
          <h4 class="shadow-text">I'm working on something fun for you,<br> but it's not quite ready yet.</h4>
          <h4 class="shadow-text">If you prod me, it might get finished faster.</h4>
          <a id="prod" class="pure-button pure-button-xsmall shadow">Prod</a>
          <h4 class="shadow-text">In the mean time, find me here:</h4>
          <div class="social-box">
            <a href="http://blog.keithmazanec.com" class="social-icon">
              <i id="blog" class="foundicon-torso icon-style">
              </i>
            </a>
            <a href="https://github.com/kmazanec" class="social-icon">
              <i id="github" class="foundicon-github icon-style">
              </i>
            </a>
            <a href="http://www.linkedin.com/in/kmazanec" class="social-icon">
              <i id="linkedin" class="foundicon-linkedin icon-style">
              </i>
            </a>
            <a href="https://twitter.com/kmazanec" class="social-icon">
              <i id="twitter" class="foundicon-twitter icon-style">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="pure-u-1-3">
        <span id="blog_tag" class="tag-hover shadow">Blog</span>
        <span id="github_tag" class="tag-hover shadow">GitHub               </span>
        <span id="linkedin_tag" class="tag-hover shadow">LinkedIn</span>
        <span id="twitter_tag" class="tag-hover shadow">Twitter</span>
      </div>
    </div>
  </div>
</div>
</div>
<script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>