
* {
    /* Add your font in here, whether it's a custom font or a normal font */
  font-family: 'Source Sans Pro', sans-serif;
}

$light_green: #B3D6AF;

.container {
  width: 100%;
  margin: 0 auto;
}
.content {
  max-width: 560px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}