


$light_green: #B3D6AF;

.container {
  width: 100%;
  margin: 10px auto;
}

.center {
  text-align: center;
}

.adoptacoder {
  box-sizing: border-box;
  * {
      /* Add your font in here, whether it's a custom font or a normal font */
    font-family: 'Source Sans Pro', sans-serif;
  }
  .content {
    max-width: 680px;
    margin: 10px auto;
    padding: 0 1em;
  }

  .notice {
    width: 100%;
    background-color: $light_green;
    padding: 0.2em;
  }

  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
  }

  input {
    width: 100%;
    margin: 0.4em 0;
    padding: 0.2em;
  }
  textarea {
    width: 100%;
    height: 140px;
    margin: 0.4em 0;
    padding: 0.2em;
  }
  .button {
    width: 6em;
    background-color: $light_green;
    border: none;
    height: 2em;
    &:hover {
      background-color: darken($light_green, 10%);
    }
  }

}
